[% WRAPPER 'wrapper.tt' %]
<h1>Вход</h1>
[% IF error_msg %]<div class="error">[% error_msg %]</div>[% END %]
<form method="post">
    <p>Имя пользователя: <input type="text" name="username"/></p>
    <p>Пароль: <input type="password" name="password"/></p>
    <p><input type="submit" value="Войти"/></p>
</form>
[% END %]
