<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>MiniNewsNet</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="/static/js/app.js"></script>
</head>
<body>
<div class="header">
    <a href="/">Главная</a> |
    [% IF c.user_exists %]
      <a href="/user/logout">Выход ([% c.user.username %])</a>
    [% ELSE %]
      <a href="/user/login">Вход</a> | <a href="/user/register">Регистрация</a>
    [% END %]
</div>

<div class="content">
    [% content %]
</div>

<div class="footer">
    <p>MiniNewsNet © 2025</p>
</div>
</body>
</html>
